body {
    background-color: #100E17;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {

    padding: 5px;
    margin: 10px;

}

.add {

    padding: 5px;
    margin: 10px;

}

.filter {
    padding: 10px;
    margin: 10px;


}

.to_do_list {
    padding: 5px;
    margin: 10px;
    width: 700px;
}

.to_do_list-One {
    font-family: Sans-Serif;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    margin-right: 0px;
    background-color: #201C29;
    border: 1px solid #312D3C;
    border-radius: 18px;
    list-style-type: none;
}

.remove-button {
    font-size: 110%;
    color: #F7701F;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.search_form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search_form-input {
    outline: none;
    font-family: Sans-Serif;
    width: 400px;
    height: 35px;
    background-color: #201C29;
    color: #FFFFFF;
    border: 1px solid #312D3C;
    border-radius: 18px;
    padding: 5px;
}

.search_form-head {
    font-family: Sans-Serif;
    color: #FFFFFF;
}

#add_form-input {
    outline: none;
    width: 400px;
    height: 45px;
    background-color: #201C29;
    color: #FFFFFF;
    border: 1px solid #312D3C;
    border-radius: 18px;
    padding: 5px;
}

#add_form-input::placeholder {
    color: #757575;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.radio_text {
    font-family: Sans-Serif;
    color: #FFFFFF;
}