body {
    background-color: #333333;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {

    padding: 5px;
    margin: 10px;

}

.add {

    padding: 5px;
    margin: 10px;

}

.filter {
    padding: 10px;
    margin: 10px;


}

.to_do_list {
    padding: 5px;
    margin: 10px;
    width: 700px;
}

.to_do_list-One {
    font-size: 28px;
    color: #44C1DB;
    padding: 10px;
    margin: 5px;
    margin-right: 0px;
    background-color: #1E1E1E;
    border: 1px solid #1A1A1A;
}

.remove-button {
    font-size: 110%;
    color: darkred;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.search_form-input{
    width: 250px;
    height: 35px;
    background-color: #1E1E1E;
    color: #569CD6;
    border: 1px solid #181818;
    border-radius: 10px;
}
#add_form-input{
    width: 300px;
    height: 45px;
    background-color: #1E1E1E;
    color: #569CD6;
    border: 1px solid #181818;
    border-radius: 10px;
}